.custom-range::-webkit-slider-thumb {
    background-color: #0D7C66;
    border: 2px solid #0A5B4F;
  }
  
  .custom-range::-moz-range-thumb {
    background-color: #0D7C66;
    border: 2px solid #0A5B4F;
  }
  
  .custom-range::-ms-thumb {
    background-color: #0D7C66;
    border: 2px solid #0A5B4F;
  }
  